:root {
  --var-general-bg: white;
  --var-general-color: gray;
  --var-component-bg: #fbfbfb;
  --var-component-color: #3478f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: var(--var-general-color);
  background-color: var(--var-general-bg);
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* main list */
.main-list {
  width: 600px;
  min-height: 200px;
  background-color: var(--var-component-bg);  
  padding: 25px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px lightgray;
}

.main-list h1 {
  color: var(--var-component-color);
}